.about {

	&__info {
		display: block;
		max-height: 600px;
		width: 100%;
		margin-bottom: 2em;
		padding-top: 20px;
		background-color: lighten($mainBlue, 50%);

		@include atXSmall {
			max-width: 450px;
			max-height: 140px;
			display: flex;
			margin: 0 auto 2em auto;
			padding: 0;
		}                                                                                                                                                                                                                                                                              ;
		
		@include atSmall {
			max-width: 500px;
			max-height: 150px;
		}

		&__picture {
			margin: auto;
			max-width: 120px;
			height: auto;
			overflow: hidden;

			@include atXSmall {
				margin: 0 10px 0 0;
				padding: 0;
				max-width: 140px;
			}
		}

		&__details {
			line-height: 1em;
			padding: 0 10px 5px 10px;
			text-align: center;

			@include atXSmall {
				padding: 5px;
				margin: 0;
				line-height: 1.1em;
				width: auto;
				text-align: left;
			}

			&__name {
				font-size: 1em;

				@include atSmall {
					font-size: 1.2em;
				}
			}

			&__para {
				font-size: .8em;

				@include atSmall {
					font-size: .9em;
				}

				&--bold {
					font-weight: 600;
				}
			}
		}
	}

	&__para {
		color: #fff;
		text-align: justify;
		line-height: 1.5em;
		margin-left: 10px;
		margin-right: 10px;

		@include atSmall {
			line-height: 1.6em;
			font-size: 1.125rem;
		}
	}
}

.pic {
	background: cover;
}