.btn {
	background-color: $mainOrange;
	color: #FFF;
	padding: .36rem 1.4rem;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 500;
	border: 1.5px solid $mainOrange;
	transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

	&:hover {
			background-color: inherit;
			border: 1.5px solid #fff;
	}

// Used for former services section btns
	&--hover-orange {
		&:hover {
			color: $mainOrange;
			border: 1.5px solid $mainOrange; 
		}
	}

	&--blue {
		background-color: $mainBlue;
		border: 1.5px solid $mainBlue;

		&:hover {
			color: $mainBlue;
			border: 1.5px solid $mainBlue; 
		}
	}

	&--do-not-display-until-medium {
		display: none;

		@include atMedium {
			display: inline-block;
		}
	}
}