.contact-form {

	&__alert {
		width: 100%;
		text-align: center;
		padding: 10px;
		background-color: $alert;
		color: #fff;

		&__success {
			width: 100%;
			text-align: center;
			padding: 10px;
			background-color: $success;
			color: #111;
		}
	}

	&__title {
		font-weight: 500;
		margin: 0;
		font-size: 1.5rem;
		padding-bottom: 1rem;

		@include atXSmall {
			padding-bottom: 2rem;
		}
	}

	&__para {
		font-size: .9rem;
	}

	&__textbox {
		width: 100%;
		overflow: hidden;
		padding: 8px 0;
		margin: 8px 0;
	}

	&__input {
		border: .5px solid lighten($test, 20%);
		outline: none;
		background: none;
		font-size: 1.1rem;
		width: 100%;
		padding: 10px;
		background-color: #fff;
	}

	&__select {
		color: gray;
	}

	&__option {
		color: $text;
	}

	&__msgbox {
		overflow: hidden;
		padding: 8px 0;
		margin: 8px 0;
	}

	&__msg {
		width: 100%;
		height: 200px;
		border: .5px solid lighten($test, 20%);
		outline: none;
		font-size: 1.125rem;
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
	}

	&__btn {
		width: 40%;
		background-color: $mainOrange;
		border: 2px solid $mainOrange;
		padding: 5px;
		font-size: 1.125rem;
		cursor: pointer;
		margin: 12px 0;
		color: #fff;
		transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);

		&:hover {
			background: none;
			color: $mainOrange;
		}
	}
}