.large-hero {
	position: relative;
	background: url("../../src/images/large-hero-480.jpg") no-repeat top center fixed;
	background-size: cover;
	height: 70vh;
	max-width: 100%;
	color:  $mainBlue;
	border-bottom: 6px solid $mainBlue;

	@include atXSmall {
		height: 80vh;
		background: url("../../src/images/large-hero-740.jpg") no-repeat top center fixed;
	}

	@include atSmall {
		background: url("../../src/images/large-hero-1024.jpg") no-repeat top center fixed;
	}

	@include atLarge {
		background: url("../../src/images/large-hero-1800.jpg") no-repeat top center fixed;
	}

	&__content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: justify;

		@include atMedium {
			left: 10%;
			top: 50%;
			transform: translate(-10%, -50%);
			max-width: 450px;
		}
	}

	&__title {
		font-family: 'Roboto Mono', sans-serif;
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: .08em;
		margin: 0;
		padding: 0;
		text-shadow: 1px 0 3px #fff;

		@include atXSmall {
			font-size: 2.5rem;
		}

		@include atSmall {
			font-size: 3rem;
		}

		@include atMedium {
			font-size: 3.2rem;
			padding: 20px;
		}

		&--extra-ls {
			letter-spacing: .12em;

			@include atSmall {
				letter-spacing: .16em;
			}
		}
	}
}