.primary-nav {

	color: #fff;

	@include atMedium {
		float: right;
	}

	&__list {
		padding: 0;
		margin: 0;
		@include clearfix;
	}

	&__list-item {
		display: block;

		@include atMedium {
			float: left;
			padding-right: 25px;
		}
	}

	&__link {
		padding: 12px 0;
		font-weight: 400;
		display: block;

		&.is-current-link {
			color: $mainOrange;
		}

		&:hover {
			color: $mainOrange;
			font-weight: 600;
		}

		@include atMedium {
			position: relative;

			&:after {
				content: "";
				width: 0;
				position: absolute;
				bottom: 5px;
				left: 0;
				border-bottom: 2px solid transparent;
			}

			&:hover:after {
				animation: animate-nav .3s linear forwards;
			}
		}
	}
}