.services {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		color: #fff;

		@include atMedium {
			justify-content: space-between;
		}
	}

	&__list-item {
		display: flex;
		width: 100%;
		padding: 0.4em;

		@media (min-width: 500px) {
			width: 50%;
			
		}

		@include atMedium {
			width: 25%;
			min-height: 320px;
		}

		&--third {
			width: 100%;

			@media (min-width: 500px) {
			width: 50%;
			}

			@include atMedium {
			width: 30%;
			}
		}
	}

	&__list-content {
		display: flex;
		flex-direction: column;
		padding: 2em;
		width: 100%;
		background-color: rgba($mainBlue, .7);
		text-align: center;

		@include atSmall {
			padding: 2em;
		}

		@include atMedium {
			padding: 1em;
		}
	}

	&__list-title {
		font-weight: 500;
		margin-bottom: 0;
		padding-bottom: 10px;
		font-size: 1.125rem;
		line-height: 1.1em;
		letter-spacing: .05em;
		flex: 1;
		text-transform: uppercase;
	}

	&__list-txt {
		flex: 2;
		text-align: justify;
		padding-bottom: 1em;
		line-height: 1.6em;
	}

	&__list-btn {
		margin-bottom: 10px;
	}
}