*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	color: $text;
	background-color: $bg;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}